{% extends "base.html" %} {% block title %}Contact Me{% endblock %} {% block
content %}
<section class="contact">
  <h2>Get in Touch</h2>
  <p>
    I’m always open to discussing new opportunities, collaborations, or simply
    exchanging ideas. Feel free to reach out through any of the following
    channels:
  </p>
  <ul>
    <li>
      <strong>Email:</strong>
      <a href="mailto:lahir1269@gmail.com">lahir1269@gmail.com</a>
    </li>
    <li><strong>Phone:</strong> (+1) 585.202.4934</li>
    <li>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/love-ahir-188356290/" target="_blank"
        >linkedin.com/in/love-ahir</a
      >
    </li>
  </ul>
</section>
{% endblock %}
